FIREBASE_API_KEY=AIzaSyDfhYOKC1jAZ8NzQDuMd2Dz6gj8_EjAr_s
FIREBASE_AUTH_DOMAIN=marketlist-26e37.firebaseapp.com
FIREBASE_PROJECT_ID=marketlist-26e37
FIREBASE_STORAGE_BUCKET=marketlist-26e37.appspot.com
FIREBASE_MESSAGING_SENDER_ID=41443072478
FIREBASE_APP_ID=1:41443072478:web:8e2e7bb60828e0eaaee54f
